Stage4-6-Informatics-Elementary-A/Greedy/Recording/
.DS_Store
.vscode/
Stage2-C++-Advanced/.DS_Store
Stage2-C++-Advanced/Structures/.DS_Store
Stage3-Informatics-Elementary-B/.DS_Store
Stage3-Informatics-Elementary-B/Enumeration/.DS_Store
Stage3-Informatics-Elementary-B/Recursion/.DS_Store
Stage3-Informatics-Elementary-B/Trees/.DS_Store
.DS_Store
.gitignore
Stage3-Informatics-Elementary-B/.DS_Store
.DS_Store
Stage3-Informatics-Elementary-B/.DS_Store
Stage3-Informatics-Elementary-B/Stacks and Queues/deal.dSYM/Contents/Info.plist
.gitignore
